<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bully Forge Customs</title>
    <link rel="stylesheet" href="static/css/homepage.css">
</head>
<body>
    <div id="navBar">
        <div id="navBarLeft">
            <img src="static/img/logo.JPG" alt="logo" id="logo">
            <h1>BULLY FORGE CUSTOMS</h1>
        </div>
        <div id="navBarRight">
            <a href="/learnMore" class="aTagNoBlue">Learn More</a>
            <a href="/about" class="aTagNoBlue">About</a>
            <a href="/contact" class="aTagNoBlue">Contact Us</a>
        </div>
    </div>
    <div id="container">
        <div id="box1">
            <h1>What we do</h1>
            <div id="insideBox">
                <img src="static/img/box1knife.JPG" alt="box1knife" id="knifeBox">
                <p>Here at Bully Forge Customs we make all different kinds of knives for whatever circumstance may arise. Whether the knife will be an everyday carry, used in the kitchen, or even taken out into the woods or on a boat during some hunting expeditions. We custom make each knife from our collection of various different metals (mild steel, carbon steel, stainless steel). As well as custom wood or epoxy handles, ranging from your common oak/pine up to the exotic woods like tiger wood, and the epoxy handles can be done is numerous different colors with a vast degree of different designs. Everything that comes out of our shop was entirely handmade and crafted to the highest quality.</p>
            </div>
        </div>
        <div id="box2">
            <h1>Who we are</h1>
            <div id="insideBox">
                <p>Growing up we were heavily involved with contact sports and always loved the aspect of being physical and working with our hands. This lead to both of us getting a career in construction  and being handymen on the side. We have always loved the idea of building something from scratch and getting dirty in our work, whether its putting a patio down, tiling a brick wall or working on roofs. We always loved the aspect of getting down and dirty in our work and accomplishing something amazing using our 2 hands.</p>
                <img src="static/img/knife2.JPG" alt="box2knife" id="knifeBox">
            </div>
        </div>
        <div id="box3">
            <h1>Why we do it</h1>
            <div id="insideBox">
                <img src="static/img/box3knife.JPG" alt="box3knife" id="knifeBox">
                <p>Similar to most other people we were left searching for something to fill the ample time we had gained from the 2019 Covid pandemic. With no gyms being open and not much to do with friends life just started to feel boring, something had to change. With a little inspiration, from a lot of reading, we decided to try out knife making and see how that went. It definitely was out of our comfort zone at the start and was more of a challenge than we thought it would be. But we kept learning and kept practicing the craft and today we are extremely proud of the high quality knives we can produce.</p>
            </div>
        </div>
    </div>
</body>
</html>