<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title>
    <link rel="stylesheet" href="static/css/learnMore.css">
</head>
<body>
    <div id="navBar">
        <div id="navBarLeft">
            <img src="static/img/logo.JPG" alt="logo" id="logo">
            <h1>BULLY FORGE CUSTOMS</h1>
        </div>
        <div id="navBarRight">
            <a href="/about" class="aTagNoBlue">About</a>
            <a href="/contact" class="aTagNoBlue">Contact Us</a>
            <a href="/" class="aTagNoBlue">Home</a>
        </div>
    </div>
    <div id="carousel">
        <button class="carouselButton leftArrow">
            <img src="/static/img/arrow3.png" alt="left"  class="arrow">
        </button>
        <div id="carouselContainer">
            <ul id="carouselTrack">
                <li class="carouselSlide currentSlide">
                    <h2>Carbon Steel</h2>
                    <img src="/static/img/carbon_steel.jpg" alt="carbon steel" class="carouselImage">
                    <p>This is the carbon steel text box that is going to be shown.This is the carbon steel text box that is going to be shown.This is the carbon steel text box that is going to be shown.This is the carbon steel text box that is going to be shown.This is the carbon steel text box that is going to be shown.</p>
                </li>
                <li class="carouselSlide">
                    <h2>Stainless Steel</h2>
                    <img src="/static/img/stainless_knife.jpeg" alt="stainless steel" class="carouselImage">
                    <p>This is where the stainless steel text box is going to be</p>
                </li>
            </ul>
        </div>
        <button class="carouselButton rightArrow">
            <img src="/static/img/arrow3.png" alt="right"  class="arrow">
        </button>
    </div>
    <script src="/static/js/learnMore.js"></script>
</body>
</html>